.git
.github
.next
node_modules
.npm-cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env
.env.*
!.env.example

Dockerfile
docker-compose.yml
README.md
coverage
out
build
*.tsbuildinfo
